{% extends "layouts/base.html.twig" %}
{% block title %} Profile {% endblock %}

{% block body %}

<div class="container reset-password-form">

<div class="row">
    <div class="col-md-6 mx-auto text-center">
        <h1 class="mb-4">Mon Profile</h1>

        <img class="mb-4 rounded-circle" src="{{app.user.getGravatar}}" alt="{{app.user.fullName}}">

        <p class="mt-4">{{app.user.email}}</p>
        <p><small>Compte créé le {{app.user.createdAt|date('d/m/y')}}</small><p>
        <p class="mt-4">{{app.user.fullName}}</p>

        <a href="{{path('app_account_edit')}}">Parametre de votre compte</a> | <a href="{{path('app_account_change_password')}}">Changer le mot de passe</a>
    </div>
</div>

</div>
    
{% endblock %}