{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
<form method="post" class="login-form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="row">
    <div class="col-md-6 mx-auto">
     <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
     <p class="text-center mt-2">Votre compte guide vous attend</p>
     <div class="form-group mb-3">
      <label for="email">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
     </div>
     <div class="form-group mb-3">
     <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
     </div>
   
    

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    

        <div class="checkbox mb-3 mt-3 d-flex justify-content-between">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
            <a href="{{path('app_forgot_password_request')}}">Mot de passe oublier?</a>
        </div>
    
    <div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary " type="submit">
        Se connecté
    </button>
    </div>
    </div>
    </div>

   <p class="text-center p-4">Pas encore enregistré ? <a href="{{path('app_register')}}">Crée un compte</a></p>
</form>
</div>
{% endblock %}
