
  <header>
       <div class="all-header">
        <div class="bar">
            <div class="bar-line"></div>
        </div>
        <a href="{{path('app_home')}}" class="logo">
            <strong>Guide <span>.Touristique</span></strong>
        </a>
        
            <nav>

                <ul class="nav-link">

                
                 
                
                {% if (app.user) %}
        
            
                   <li>
                        <a href="{{path('app_publication_create')}}">Crée un publication</a>
                    </li>
                    <li>
                        <a href="{{path('app_account')}}">Compte</a>
                    </li>
                    <li>
                        <a href="{{path('app_publications')}}">Publication</a>
                    </li> 
                {% else  %}       
                    <li>
                        <a href="#">Accueil</a>
                    </li>
                    <li>
                        <a href="#">Guide</a>
                    </li>
                    <li>
                        <a href="#">A-propos</a>
                    </li>
                    <li>
                        <a href="#">Photo</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                {% endif %}
               
                    
                </ul>
            </nav>
            <div class="button-action">
                <ul>
                  {% if app.user %}
                    <li>
                         <a href={{path('app_logout')}} type="button" class="btn btn-warning">Deconection</a>
                    </li>
                   {% else %}
                     <li>
                        <a href="{{path('app_login')}}" type="button" class="btn btn-outline-light me-2">Login</a>
                    </li>
                   {% endif %}
                </ul>
               
            </div>
       </div>
    </header>  
  
  
  
  
  
  
