
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
           <h4>Guide Touristique</h4>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{path('app_home')}}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{{path('app_publications')}}" class="nav-link px-2 text-white">Publication</a></li>
        </ul>
        <div class="text-end">
          {% if app.user %}
          <a href="{{path('app_publication_create')}}" type="button" class="btn btn-outline-light me-2">Crée un publication</a>
          <a type="button" class="btn btn-outline-light me-2">Votre compte</a>
          <a href={{path('app_logout')}} type="button" class="btn btn-warning">Deconection</a>
          {% else %}
          <a href="{{path('app_login')}}" type="button" class="btn btn-outline-light me-2">Login</a>
          <a type="button" class="btn btn-warning">Sign-up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
